{% extends 'admin/layout/layout.html.twig' %}

{% block js %}
    {{ parent() }}
    <script>
        $(document).ready(function() {
            $('body').on('click', '[data-show-diffs]', function (e) {
                e.preventDefault();
                var $diff_button = $(this);
                var diff_id = parseInt($diff_button.attr('data-show-diffs'), 10);
                var $diff_block = $('[data-diffs="' + diff_id + '"');
                var text_active = $diff_button.attr('data-show-diffs-active');
                var text_inactive = $diff_button.attr('data-show-diffs-inactive');

                if ($diff_block.is(':visible')) {
                    $diff_block.hide();
                    $diff_block.promise().done(function() {
                        $diff_button.html(text_inactive);
                    });
                } else {
                    $diff_block.show();
                    $diff_block.promise().done(function() {
                        $diff_button.html(text_active);
                    });
                }
            });
        });
    </script>
{% endblock %}

{% block title %}{{ 'Logs'|trans }}{% endblock %}

{% block content %}

    {% include 'admin/layout/paginator.html.twig' with {pages: pages} %}

    <table class="table table-bordered table-responsive">
        <tr class="warning">
            <td style="width: 80px; font-weight: bold;">{{ 'ID'|trans }}</td>
            <td style="width: 350px; font-weight: bold;">{{ 'Event'|trans }}</td>
            <td style="font-weight: bold;">{{ 'Entity'|trans }}</td>
            <td style="width: 300px; font-weight: bold;">{{ 'Author'|trans }}</td>
            <td style="font-weight: bold;">{{ 'Datetime'|trans }}</td>
            <td style="font-weight: bold;">{{ 'Actions'|trans }}</td>
        </tr>
        {% for log in logs %}
            {% include log.getTemplate() with {log: log} only %}
        {% endfor %}
    </table>

    {% include 'admin/layout/paginator.html.twig' with {pages: pages} %}

{% endblock %}