{% extends 'admin/layout/layout_empty.html.twig' %}

{% block header_menu %}
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">{{ 'Toggle navigation'|trans }}</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('admin_index') }}">{{ app.project_name }}</a>
        </div>
        <ul class="nav navbar-top-links navbar-right">
            <li>
                <img width="50" height="50" src="{{ app.getAccountAvatarService().getDashboardAvatar(app.security.token.user) }}" />
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    {{ app.security.token.user.getName() }}&nbsp;&nbsp;<i class="fa fa-caret-down"></i>
                </a>
                {% if app.user_menu is defined and app.user_menu|length > 0 %}
                    {% include 'admin/layout/user-menu.html.twig' with {menu: app.user_menu} %}
                {% endif %}
            </li>
        </ul>
        {% if app.left_menu is defined and app.left_menu|length > 0 %}
            {% include 'admin/layout/left-menu.html.twig' with {menu: app.left_menu} %}
        {% endif %}
    </nav>
{% endblock %}