<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    {% block css %}
        <link href="/assets/components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="/assets/components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">
        <link href="/assets/components/sbadmin2/css/sb-admin-2.css" rel="stylesheet">
        <link href="/assets/components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    {% endblock %}
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="/assets/components/html5shiv.js"></script>
    <script src="/assets/components/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div id="wrapper">

    {% block header_menu %}
    {% endblock %}

    <div id="page-wrapper">
        {% block wrapper %}
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">{{ block('title') }}</h1>
                </div>
            </div>

            {% set message_success = app.session.remove('_flash_success') %}
            {% if message_success is not null %}
                <div class="row">
                    <div class="alert alert-success alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        {{ message_success }}
                    </div>
                </div>
            {% endif %}

            <div class="row">
                {% block content %}
                {% endblock %}
            </div>
        {% endblock %}
    </div>
</div>
<!-- /#wrapper -->
{% block js %}
    <!-- jQuery -->
    <script src="/assets/components/jquery/dist/jquery.min.js"></script>
    <script src="/assets/components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/assets/components/metisMenu/dist/metisMenu.min.js"></script>
    <script src="/assets/components/sbadmin2/js/sb-admin-2.js"></script>
    <script src="/assets/components/mustache/mustache.min.js"></script>
{% endblock %}
</body>

</html>
