<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            {% for menuItem in app.left_menu %}
            {% set is_submenu_active = false %}
            {% set left_sub_menu_list %}
                {% if menuItem|length > 0 %}
                    <ul class="nav nav-second-level">
                        {% for subMenuItem in menuItem %}
                            <li>
                                {% if subMenuItem.isActive(app.request.get('_route')) %}{% set is_submenu_active = true %}{% endif %}
                                <a href="{{ subMenuItem.getUrl() }}"{% if subMenuItem.isActive(app.request.get('_route')) %} class="active" {% endif %}>{{ subMenuItem.getName() }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endset %}
            <li{% if menuItem.isActive(app.request.get('_route')) or is_submenu_active %} class="active" {% endif %}>
                {% spaceless %}
                <a href="{{ menuItem.getUrl() }}"{% if menuItem.isActive(app.request.get('_route')) or is_submenu_active %} class="active" {% endif %}>
                    <i class="fa fa-fw{% if menuItem.getArg('icon') %} {{ menuItem.getArg('icon') }}{% endif %}"></i> {{ menuItem.getName() }}
                    {% if menuItem|length > 0 %}<span class="fa arrow"></span>{% endif %}
                </a>
                {{ left_sub_menu_list }}
                {% endspaceless %}
            </li>
            {% endfor %}
        </ul>
    </div>
</div>