{% if pages is defined and pages|length > 1 %}
    {% set prev = pages.getPrev() %}
    {% set next = pages.getNext() %}

    <nav>
        <ul class="pagination">

            {% if prev is not null %}
                <li>
                    <a href="{{ prev.getUrl() }}" aria-label="{{ 'Prev'|trans }}">
                        <span aria-hidden="true">&laquo;</span></a>
                </li>
            {% endif %}

            {% for page in pages %}
                {% if page.isActive() %}
                    <li class="active">
                        <a href="{{ page.getUrl() }}">
                            {{ page.getIndex() }}&nbsp;<span class="sr-only">{{ 'Current'|trans }}</span></a>
                    </li>
                {% else %}
                    <li><a href="{{ page.getUrl() }}">{{ page.getIndex() }}</a></li>
                {% endif %}
            {% endfor %}

            {% if next is not null %}
                <li>
                    <a href="{{ next.getUrl() }}" aria-label="{{ 'Next'|trans }}">
                        <span aria-hidden="true">&raquo;</span></a>
                </li>
            {% endif %}

        </ul>
    </nav>
{% endif %}