<ul class="dropdown-menu dropdown-user">
    {% for menuItem in menu %}
    <li>
        <a href="{{ menuItem.getUrl() }}">{% if menuItem.getArg('icon') is not null %}<i class="fa fa-{{ menuItem.getArg('icon') }} fa-fw"></i>{% endif %} {{ menuItem.getName() }}</a>
    </li>
    {% endfor %}
</ul>