{% extends 'admin/layout/layout.html.twig' %}

{% block title %}{{ 'Edit account'|trans }}{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-3">
            {{ form(form_view) }}
        </div>
    </div>

{% endblock %}