{% extends 'admin/layout/layout.html.twig' %}

{% block title %}{{ 'Account list'|trans }}{% endblock %}

{% block js %}
    {{ parent() }}
    <script src="/assets/admin/accounts/list.js"></script>
{% endblock %}

{% block content %}

    <div class="btn-group" role="group">
        <a href="{{ path('admin_accounts_create') }}" class="btn btn-default"><i class="fa fa-plus"></i>&nbsp;&nbsp;{{ 'Create account'|trans }}</a>
    </div>
    <br/>
    <br/>

    <table class="table table-bordered">
        <tr class="warning">
            <td style="width: 80px; font-weight: bold;">{{ 'ID'|trans }}</td>
            <td style="width: 250px; font-weight: bold;">{{ 'Email'|trans }}</td>
            <td style="font-weight: bold;">{{ 'Name'|trans }}</td>
            <td style="width: 250px; font-weight: bold;">{{ 'Actions'|trans }}</td>
        </tr>
        {% for account in accounts %}
        <tr{% if account.isDeleted() %} class="danger" {% endif %}>
            <td>{{ account.getId() }}</td>
            <td>{{ account.getEmail() }}</td>
            <td>{{ account.getName() }}</td>
            <td>
                <div class="btn-group btn-group-sm" role="group">
                    <a href="{{ path('admin_accounts_edit', {account: account.getId()}) }}" class="btn btn-default">{{ 'Edit'|trans }}</a>
                    <a href="{{ path('admin_accounts_password', {account: account.getId()}) }}" class="btn btn-default">{{ 'Password'|trans }}</a>
                    {% if account.isDeleted() %}
                    <button data-href="{{ path('admin_accounts_restore', {account: account.getId()}) }}" data-email="{{ account.getEmail() }}" data-toggle="modal" data-target="#modal_restore" class="btn btn-default">{{ 'Restore'|trans }}</button>
                    {% else %}
                    <button data-href="{{ path('admin_accounts_delete', {account: account.getId()}) }}" data-email="{{ account.getEmail() }}" data-toggle="modal" data-target="#modal_delete" class="btn btn-default">{{ 'Delete'|trans }}</button>
                    {% endif %}
                </div>
            </td>
        </tr>
        {% endfor %}
    </table>

    {% include 'admin/layout/paginator.html.twig' with {pages: pages} %}

    <div id="modal_delete" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                    <h4 class="modal-title">{{ 'Delete account'|trans }}</h4>
                </div>
                <div class="modal-body">
                    <div data-modal="content" data-mustache="{{ 'Do you really want to delete account {{ email }}?'|trans }}"></div>

                    <div data-modal="error" style="display: none;">
                        <br/>
                        <div class="alert alert-danger alert-dismissible fade in" role="alert">
                            <p data-modal="error-content"></p>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'Cancel'|trans }}</button>
                    <button type="button" data-action-account-delete="%d" class="btn btn-danger">{{ 'Delete'|trans }}</button>
                </div>
            </div>
        </div>
    </div>

    <div id="modal_restore" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                    <h4 class="modal-title">{{ 'Restore account'|trans }}</h4>
                </div>
                <div class="modal-body">
                    <div data-modal="content" data-mustache="{{ 'Do you really want to restore account {{ email }}?'|trans }}"></div>

                    <div data-modal="error" style="display: none;">
                        <br/>
                        <div class="alert alert-danger alert-dismissible fade in" role="alert">
                            <p data-modal="error-content"></p>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'Cancel'|trans }}</button>
                    <button type="button" data-action-account-restore="%d" class="btn btn-primary">{{ 'Restore'|trans }}</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}