{% extends 'admin/layout/layout_empty.html.twig' %}

{% block title %}{{ 'Login'|trans }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-4">
            <form action="{{ path('admin_login_check') }}" method="post" class="form-inline" novalidate="novalidate">
                <div class="form-group">
                    <input type="email" name="_username" class="form-control" id="_username" placeholder="{{ 'Username'|trans }}" value="{{ last_username }}" />
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" id="_password" name="_password" placeholder="{{ 'Password'|trans }}">
                </div>
                <button type="submit" class="btn btn-default">{{ 'Sign in'|trans }}</button>
            </form>
        </div>
    </div>

    {% if error %}
    <div class="row">
        <div class="col-md-3">
            <br/>
            <div class="alert alert-danger" role="alert">{{ error|trans }}</div>
        </div>
    </div>
    {% endif %}

{% endblock %}