{% block entry %}
<tr>
    {% block entry_header %}
    <td>{{ log.getId() }}</td>
    <td>{{ log.getAction().getName()|trans }}</td>
    <td>{% block entry_entity %}{% endblock %}</td>
    <td>{{ log.getAuthor().getName() }} &lt;{{ log.getAuthor().getEmail() }}&gt;</td>
    <td>{{ log.getDatetime()|date }}</td>
    <td>
        {% if log.getDiffset() is not null %}
            <a href="#" class="btn btn-default btn-sm" data-show-diffs-active="{{ 'Hide diffs'|trans }}" data-show-diffs-inactive="{{ 'Show diffs'|trans }}" data-show-diffs="{{ log.getDiffSet().getId() }}">{{ 'Show diffs'|trans }}</a>
        {% endif %}
    </td>
    {% endblock %}
</tr>
{% endblock %}
{% block entry_diffset %}
{% if log.getDiffset() is not null %}
    <tr style="display: none;" data-diffs="{{ log.getDiffSet().getId() }}">
        <td colspan="6">
            <table class="table table-bordered table-striped" style="margin-bottom: 0; width: 650px;">
                <tr class="warning">
                    <td style="font-weight: bold;">{{ 'Fieldname'|trans }}</td>
                    <td style="font-weight: bold;">{{ 'Before'|trans }}</td>
                    <td style="font-weight: bold;">{{ 'After'|trans }}</td>
                </tr>
                {% for diff in log.getDiffSet().getLogDiffList() %}
                    <tr>
                        <td style="width: 150px;">{{ diff.getField() }}</td>
                        <td style="width: 250px;">{{ diff.getBefore() }}</td>
                        <td style="width: 250px;">{{ diff.getAfter() }}</td>
                    </tr>
                {% endfor %}
            </table>
        </td>
    </tr>
{% endif %}
{% endblock %}